@charset "UTF-8";
@import "options/vars.scss";

/* @import "file_name.scss"; */ /* подключение файла scss */

* { box-sizing: border-box; }

body{
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* прижатие подвала к низу */
html, body { height: 100%; }
.main { min-height: 100%; }
* html .main { height: 100%; }
.hFooter { height: 220px; /* высота подвала */ }
.footer {
    height: 220px; /* высота подвала */
    margin-top: -220px; /* высота подвала, но с минусом */
}

